:root {
  --main-title-color-white: #ffffff;
  --accent-color-orange: #ff6c00;
  --tipical-line-height: 1.36;
}
/* variables not only for color it's for any property
font-family, font-size ect.
*/

body {
  font-family: 'Open Sans', sans-serif;
}

.link {
  text-decoration: none; /* without underline */
}

.list {
  list-style: none;
}

/* ------------ Header ------------- */

.header {
  background-color: grey;
}
/* .header-link { */
/** font-family don't need here - inherits from body */
/* font-family: 'Open Sans', sans-serif; */

/** font-style: normal don't need here - default value*/
/* font-style: normal; */
/* font-weight: 600;
  font-size: 12px;
  line-height: 1.33;  */
/* change for coefficient line-height: 16px;/font-size: 12px; result 1.33 without (px)*/
/* letter-spacing: 0.1em;

  color: #ffffff;
} */

/* .header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em; */
/* text-transform: uppercase; */
/* inside tel only digits - no need to use text-transform: uppercase; */

/* color: #ffffff;
} */

/* .header-tel and  .header-link so you can put them together using comma(,) */
.header-link,
.header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--main-title-color-white);
  /* color: #ffffff; */
}

.header-link:hover,
.header-link:focus {
  color: #ff6c00;
}

.header-btn {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  color: var(--main-title-color-white);
  /* color: #ffffff; */
}

/* ------------ Hero ------------- */

.hero {
  background-color: bisque;
}

.hero-link {
  font-weight: 600;
  font-size: 11px;
  /* line-height: 1.36; */
  line-height: var(--tipical-line-height);
  /* identical to box height */
  letter-spacing: 0.2em;

  color: #303030;

  transform: rotate(-90deg);
}

.hero-pre-title {
  font-weight: 600;
  font-size: 11px;
  /* line-height: 1.36; */
  line-height: var(--tipical-line-height);
  /* identical to box height */

  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: rgba(157, 164, 189, 0.6);
}

.hero-title {
  font-family: 'Raleway', sans-serif;
  /* font-weight: 700; */
  /* this is default value for heading don't need it */
  font-size: 72px;
  line-height: 1.18;
  /* identical to box height */
  letter-spacing: 0.05em;
  color: var(--main-title-color-white);
  /* color: #ffffff; */
}

.hero-after-title {
  /* font-weight: 400; */
  /** font-weight: 400 don't need here - default value*/
  font-size: 18px;
  line-height: 1.67; /* or 167% */
  letter-spacing: 0.02em;
  color: #9da4bd;
}

/* ------------ About section ------------- */

.about {
  background-color: aqua;
}

/* .about-list {
} */

/* .about-item {
} */

.about-before-title {
  font-weight: 600;
  font-size: 11px;
  /* line-height: 1.36; */
  line-height: var(--tipical-line-height);
  /* identical to box height */

  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #303030;
}

.about-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700; /* this is default value for heading don't need it */
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;

  color: #303030;
}

.about-after-title {
  font-size: 18px;
  line-height: 1.67;
  /* or 167% */

  letter-spacing: 0.02em;

  color: #555555;
}

.about-text {
  font-size: 14px;
  line-height: 1.86;
  /* or 186% */

  letter-spacing: 0.02em;

  color: #555555;
}
.about-btn {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  color: #303030;
}

/* ------------ Prices ------------- */

.prices {
  background-color: rgb(242, 245, 73);
}

.prices {
}
.prices-pre-title {
  font-weight: 600;
  font-size: 11px;
  /* line-height: 15px; */
  /* line-height: 1.36; */
  line-height: var(--tipical-line-height);
  /* identical to box height */

  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: rgba(157, 164, 189, 0.6);
}
.prices-title {
  font-family: 'Raleway';
  /* font-style: normal; */
  font-weight: 700;
  /* this is default value for heading don't need it */
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;

  /* color: #ffffff; */
  color: var(--main-title-color-white);
}
.prices-list {
}
.prices-item {
}
.prices-list-text {
  font-size: 18px;
  line-height: 1.67;
  /* identical to box height, or 167% */

  letter-spacing: 0.02em;

  color: #9da4bd;
}

.prices-btn {
  font-family: 'Open Sans', sans-serif;
  /* don't foget to set font-family because it not inherits from parents */
  /* you can set it by inherit */
  /* font-family: inherit; */
  /* font-style: normal; */
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  color: #ffffff;
}
